p{
    margin-top: 0;
    margin-bottom: 0;
}
body{
    /* this style below will be inherited */
    margin: 0;
    height: 1191px;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    font-family: Roboto,Arial;
    background-color: rgb(248, 248, 248);
}