

.thumbnail{
    width: 100%;
}
.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 7px;
}
 .video-author{
    font-size: 12px;
    color: rgb(96,96,96);
    margin-bottom: 4px;
}
.video-stats{
    font-size: 12px;
    color: rgb(96,96,96);
} 

.vid-link{
    text-decoration: none;
    color: black;
}

/* .video-preview{

} */

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

 .channel-picture{
    position: relative;
    margin-bottom: 0;
}
/*.video-info{
} */
 
.profile-picture{
    width: 36px;
    border-radius: 50px;
}

.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width : 750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 751px) and (max-width: 999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width : 1000px){
     .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-time{
    font-size: 12px;
    font-weight: 500;
    padding: 4px 4px 4px 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
}

.profile-picture-tooltip{
     width:50px;
    border-radius: 50px;
}
.author-tooltip{
    font-size: 17px;
    font-weight: 700;
}
.subs{
    font-size: 14px;
    color: rgb(99, 99, 99);
}
.author-subs{
    margin-left: 10px;
    margin-top: 5px;
}


.vid-tooltip{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    width: 220px;
    padding: 10px 10px 5px 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border-radius: 5px;

    position: absolute;
    top: 45px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s;
}
.channel-picture:hover .vid-tooltip{
    opacity: 1;
}
